* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dddddd;
  font-family: sans-serif;
}

/*             Navbar Section             */
.nav-bar {
  background-color: #262626;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding: 2% 15%;
  position: relative;
  height: 3rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li:not(:last-child) {
  margin-right: 2rem;
}

.nav-links li {
  padding: 15px 0;
  }

.nav-link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}

.nav-links .nav-link:hover {
  color: #ff3300;
  /* border-bottom: 1px solid red; */
}

.langIcon:hover {
  transform: rotateY(150deg)
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    height: 3rem;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    display: none;
    position: absolute;
    height: auto;
    top: 3rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding-left: 15%;
  }

  .active {
    display: block;
  }
}
.photoHome {

  width: 100%;
  height: auto;
  background-color: red;

}
/*             Home Section             */
#homeSection {
  background-color: #fff;
  padding: 7% 15%;
  height: 500px;
  background-image: url("../images/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  margin: 7% auto 0;

}
.home h1{
  padding: 5%;
  font-size: 3rem;
}
.home p{
  padding: 0 3% 3%;
  line-height: 1.5;
}

/*             Gallery Section             */
#gallerySection {
  background-color: #f2f2f2;
  padding: 7% 15%;
}

#gallerySection img {
  width: 100%;
  height: auto;
  padding: 5% 0;
}

/*             About Section             */
#aboutSection {
  background-color: #fff;
  /* background: linear-gradient(45deg, rgb(173, 126, 26), rgb(180, 23, 88)); */
  padding: 7% 15%;
}



.about-img-div {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: width 2s, height 4s, transform 2s;
  margin: auto;
  position: relative;
}

.about-img-div:hover {
  width: 300px;
  height: 300px;
  transform: rotate(40deg);
}

.about-img {
  position: absolute;
  width: 100%;
  height: auto;
}

#faqSection {
  /* background-color: #f2f2f2; */
  background: linear-gradient(45deg, rgb(173, 126, 26), rgb(180, 23, 88));
  padding: 7% 15%;
}

/*             Contact Section             */
#contactSection {
  background-color: #fff;
  padding: 7% 15%;
}

/*             Footer Section             */
footer {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: grey;
}


@media only screen and (max-width:768px) {
  #homeSection {
    background-color: #fff;
    padding: 7% 15%;
    height: 500px;
    background-image: url("../images/3.jpg");
}
